@model DoctorFilteredListVM

@{
    ViewData["Title"] = "Doctors";
}

<a class="btn btn-sm btn-primary" asp-action="Add">
    <i class="bi bi-plus-square"></i>
    Add
</a>

<form>
    <div class="row g-3">
        <div class="col-sm-7">
            <div class="form-floating mb-3">
                <input asp-for="Filter.Name" class="form-control" />
                <label asp-for="Filter.Name"></label>
                <span asp-validation-for="Filter.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input asp-for="Filter.Id" class="form-control" type="text" />
                <label asp-for="Filter.Id"></label>
                <span asp-validation-for="Filter.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input asp-for="Filter.HireDateStart" class="form-control" type="date"/>
                <label asp-for="Filter.HireDateStart"></label>
                <span asp-validation-for="Filter.HireDateStart" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input asp-for="Filter.HireDateEnd" class="form-control" type="date" />
                <label asp-for="Filter.HireDateEnd"></label>
                <span asp-validation-for="Filter.HireDateEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>HireDate</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Doctors) {
            <tr>
                <td>@d.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@d.Id">@d.Name</a>
                </td>
                <td>@d.HireDate.ToShortDateString()</td>
                <td>SAR @d.Salary</td>
                <td>
                    <a class="btn btn-sm btn-secondary" asp-action="Update" asp-route-id="@d.Id">
                        <i class="bi bi-pencil-square"></i>
                        Update
                    </a>
                    <button class="btn btn-sm btn-danger btn-js-delete" data-id="@d.Id">
                        <i class="bi bi-trash3-fill"></i>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(".btn-js-delete").on("click", function() {
            var id = $(this).data("id");
            var isConfirmed = confirm("Do you want to delete this doctor?");

            if (isConfirmed) {
                $.ajax({
                    url: "Doctor/Delete/" + id,
                    success: () => {
                        $(this).parents("tr").remove();
                    },
                    error: () => {
                        alert("Failed to delete doctor");
                    }
                });
            }
        });
    </script>
}

